<div class="container">
  <div class="line_1">

    <div class="icon">
      <img src="../../../assets/banner-images/line-1/Shield.svg" alt="svg">
    </div>
    <div class="icon__long--Y">
      <img src="../../../assets/banner-images/line-1/$.svg" alt="svg">
    </div>
    <div class="icon__long--X">
      <img src="../../../assets/banner-images/line-1/$-X.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-1/Soccer.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-1/M.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-1/Shield.svg" alt="svg">
    </div>
    <div class="icon__long--Y">
      <img src="../../../assets/banner-images/line-1/$.svg" alt="svg">
    </div>
    <div class="icon__long--X">
      <img src="../../../assets/banner-images/line-1/$-X.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-1/Soccer.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-1/M.svg" alt="svg">
    </div>
  </div>
  <div class="line_2">
    <div class="icon">
      <img src="../../../assets/banner-images/line-2/M.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-2/Timer.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-2/Crown.svg" alt="svg">
    </div>
    <div class="icon__long--Y">
      <img src="../../../assets/banner-images/line-2/World.svg" alt="svg">
    </div>
    <div class="icon__long--X">
      <img src="../../../assets/banner-images/line-2/World-X.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-2/M.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-2/Timer.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-2/Crown.svg" alt="svg">
    </div>
    <div class="icon__long--Y">
      <img src="../../../assets/banner-images/line-2/World.svg" alt="svg">
    </div>
    <div class="icon__long--X">
      <img src="../../../assets/banner-images/line-2/World-X.svg" alt="svg">
    </div>
  </div>
  <div class="line_3">
    <div class="icon">
      <img src="../../../assets/banner-images/line-3/Crown.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-3/M.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-3/Shield.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-3/Soccer.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-3/Shield.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-3/Crown.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-3/M.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-3/Shield.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-3/Soccer.svg" alt="svg">
    </div>
    <div class="icon">
      <img src="../../../assets/banner-images/line-3/Shield.svg" alt="svg">
    </div>
  </div>
</div>