.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  gap: 10px;
  position: relative;
  z-index: -3;

  .line_1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: moveY 60s linear infinite;
    opacity: 20%;

    .icon {
      width: 100px;
      height: 100px;
    }

    .icon__long {
      width: 100px;
      height: 220px;

      &--Y {
        display: initial;
      }

      &--X {
        display: none;
      }
    }
  }

  .line_2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: moveY 50s linear infinite reverse;
    opacity: 50%;

    .icon {
      width: 100px;
      height: 100px;
    }

    .icon__long {
      width: 100px;
      height: 220px;

      &--Y {
        display: initial;
      }

      &--X {
        display: none;
      }
    }
  }

  .line_3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: moveY 65s linear infinite;
    opacity: 40%;

    .icon {
      width: 100px;
      height: 100px;
    }

    .icon__long {
      width: 100px;
      height: 220px;

      &--Y {
        display: initial;
      }

      &--X {
        display: none;
      }
    }
  }
}

@keyframes moveY {
  0% {
    transform: translateY(0%);
  }

  25% {
    transform: translateY(-25%);
  }

  50% {
    transform: translateY(0%);
  }

  75% {
    transform: translateY(25%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes moveX {
  0% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(0%);
  }

  75% {
    transform: translateX(25%);
  }

  100% {
    transform: translateX(0%);
  }
}


@media screen and (max-width: 425px){
  .container {
    padding: 40px 0;
    width: 100vw;
    height: initial;
    flex-direction: column;
    gap: 8px;

    .line_1,
    .line_2,
    .line_3 {
      flex-direction: row;
      gap: 14px;

      .icon,
      .icon img {
        width: 50px;
        height: 50px;
      }

      .icon__long {
        &--Y {
          display: none;
        }

        &--X {
          display: initial;
        }
      }
    }

    .line_1 {
      animation: moveX 65s linear infinite;
    }

    .line_2 {
      animation: moveX 50s linear infinite reverse;
    }

    .line_3 {
      animation: moveX 65s linear infinite;
    }
  }
}