<div class="container">
  <h2>BLOG</h2>
  <div class="outer-container">
    <div class="blog-container">
      <a href="" class="blog-item">
        <p class="blog-item--header">Payment methods: Skrill, Neteller, webmoney, Bank transfer</p>
        <p class="blog-item--date">10.02.2023</p>
      </a>
      <a href="" class="blog-item">
        <p class="blog-item--header">Payment methods: Skrill, Neteller, webmoney, Bank transfer</p>
        <p class="blog-item--date">10.02.2023</p>
      </a>
      <a href="" class="blog-item">
        <p class="blog-item--header">Payment methods: Skrill, Neteller, webmoney, Bank transfer</p>
        <p class="blog-item--date">10.02.2023</p>
      </a>
      <a href="" class="blog-item">
        <p class="blog-item--header">Payment methods: Skrill, Neteller, webmoney, Bank transfer</p>
        <p class="blog-item--date">10.02.2023</p>
      </a>
      <a href="" class="blog-item">
        <p class="blog-item--header">Payment methods: Skrill, Neteller, webmoney, Bank transfer</p>
        <p class="blog-item--date">10.02.2023</p>
      </a>
      <a href="" class="blog-item">
        <p class="blog-item--header">Payment methods: Skrill, Neteller, webmoney, Bank transfer</p>
        <p class="blog-item--date">10.02.2023</p>
      </a>
    </div>
  </div>
</div>