.background {
  z-index: -1;
  //background: radial-gradient(circle, rgba(71,139,249,1) 0%, rgba(0,0,0,0.2) 60%);
  background-color: var(--main-blue);
  transform: translate(280px, 450px) rotate(60deg) scaleX(1.5);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  filter: blur(115px);
}

.container {
  width: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    color: #fff;
  }

  .outer-container {
    border: 3px solid var(--main-blue);
    padding: 0 16px 0 0;
    border-radius: 100px;
    background: #fff2;

    .blog-container {
      display: flex;
      flex-direction: column;
      padding: 24px;
      height: 600px;
      overflow-y: scroll;
      border-radius: 100px;
      gap: 16px;

      .blog-item {
        text-decoration: none;
        display: flex;
        padding: 16px 64px;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 196px;
        background-color: var(--main-deep-blue);

        &--header {
          color: #fff;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          margin: 0;
        }

        &--date {
          color: #fff4;
          font-size: 14px;
          font-style: normal;
          font-weight: 450;
          line-height: 16px;
        }
      }
    }

    .blog-container::-webkit-scrollbar {
      display: block;
      width: 8px;
    }

    .blog-container::-webkit-scrollbar-track {
      background: transparent;
      margin: 100px 0;
    }

    .blog-container::-webkit-scrollbar-track-piece {
      border-radius: 4px;
      background: #fff2;
    }

    .blog-container::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: var(--main-blue);
    }
  }
}

@media (hover: hover) {
  .blog-item:hover {
    background-color: var(--main-blue) !important;
  }
}

@media screen and (max-width: 425px){
  .container {
    width: 300px;
    h2 {
      line-height: 30px;
    }

    .outer-container {
      height: 420px;
      border: 2px solid var(--main-blue);
      border-radius: 50px;
      padding: 0 4px 0 0;
      .blog-container {
        height: 416px;
        padding: 10px;
        border-radius: 47px;
        .blog-item {
          border-radius: 40px;
          padding: 15px 35px;
          width: 274px;

          &--header {
            font-size: 16px;
            line-height: 20px;
          }

          &--date {
            font-size: 14px;
            line-height: 16px;
            margin: 10px 0 0;
          }
        }
      }

      .blog-container::-webkit-scrollbar-track {
        margin: 50px 0;
      }

      .blog-container::-webkit-scrollbar {
        width: 4px;
      }
    }
  }

  .background {
    transform: translate(220px, 450px);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    filter: blur(70px);
  }
}