@font-face {
  font-family: 'Lexend';
  src: url('assets/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-blue: #478bf9;
  --navy-blue: #110a1d;
  --main-deep-blue: #1e1231;
  --additional-purple: #9dadf2;
}

* {
  font-family: 'Lexend', sans-serif;
  box-sizing: border-box;
}
body {
  margin: 16px 0 0;
  background-color: #110a1a;
}
